.main-header {
  width: 100%;
  padding: 40px 40px 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.main-header-logo {
  font-weight: normal;
  font-size: 32px;
  margin-right: 40px;
  color: #e3bd5b;
}


